body {
    height: 100vh;
}

#board {
    background-color: hsl(170, 50%, 50%);
    height: 50%;
    width: 50%;
    margin: auto;
    border: solid 3px black;
    display: grid;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto;
    /* align-items: center; */
    /* justify-items: center; */
    text-align: center;
    font-size: 2em;
}

.rowText {
    display: flex;
    align-items: center;
    justify-content: center;
}